name: "Semantic Release"

on:
  push:
    branches:
      - "main"

permissions:
  actions: write
  contents: write

jobs:
  changelog:
    name: "Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # Version 6.0.1
        with:
          fetch-depth: 0

      - name: Bump version using semantic-release
        uses: python-semantic-release/python-semantic-release@350c48fcb3ffcdfd2e0a235206bc2ecea6b69df0 # Version 10.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
