name: "Semantic Release"

on:
  push:
    branches:
      - "main"

permissions:
  actions: write
  contents: write

jobs:
  changelog:
    name: "Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # Version 5.0.0
        with:
          fetch-depth: 0

      - name: Bump version using semantic-release
        uses: python-semantic-release/python-semantic-release@bd8f84cb4e967bb634d20b6080cf2d402966bccb # Version 10.5.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
